<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI"
                     path="*"
                     verb="*"
                     modules="FastCgiModule"
                     scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python37\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages\wfastcgi.py"
                     resourceType="Unspecified"
                     requireAccess="Script"/>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\Users\Administrator\Desktop\django_main" />
            <add key="DJANGO_SETTINGS_MODULE" value="django_main.settings" />
        </appSettings>
    </configuration>